/* Put your style information here! */

#title {
    text-align: center;
    color: #a78fdd;
}

#title span {
    background-color: white;
    border-radius: 10px;
    padding: .4em;
    font-weight: bold;

}

h2 {
    color: #a78fdd;
    font-weight: bolder !important;
    font-size: 3em;
}

h3 {
    font-weight: bold !important;
    font-size: x-large;
    margin-top: .8em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-bottom: .2em;
    color: white;
    background-color: #a78fdd;
}

h4 {
    font-weight: 600 !important;
    font-size: larger;
    margin-top: .5em;
    margin-bottom: .2em;
    color: black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ff8291;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs {
    color: greenyellow;
}

.btn-color{
    background-color: #a78fdd !important;
    color: white;
}

.btn-color:focus {
    background-color: #9878dd !important;
    color: white;
}
.btn-color:active {
    background-color: #9878dd !important;
    color: white;
}

.btn-color:hover {
    color: white;
}

.sketch-image {
    width:100%;
}

.flex-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    object-fit: contain;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0;
}
.table-container {
    margin-left: 5vw;
    margin-right: 5vw;
}

.header-container {
    background-color: #a78fdd;
    height: 10vh;
}
.hifi-description {
    height: 100%;
}
#main-navbar {
    font-weight: 400;
}

#main-navbar a.nav-link.active {
    background-color: #a78fdd;
}

#header {
    height: 30vh;
    background-color: #a78fdd;
    background-image: url("images/graph.png");
    /*background-size: 100%;*/
    background-size: 25em;
    background-repeat: round;
    background-attachment: fixed;
}

.section-card {
    margin-bottom: 2em;
    border-radius: .5em;
}

#main-navbar {
    top: 10em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: .5em;
}

#main-content {
    margin-top: 2em;
}

.story-card {
    margin-bottom: 1em;
}

.subject-card {
    margin-bottom: 1em;
}

.link-btn {
    background-color: #a78fdd;
    color: white;
    width: 50%;
    border-radius: 7px;
}
.badge-salm {
    color: white;
    background-color: #ff5165;
}

body {
    position: relative
}

.iframe-div {
    position: relative;
    overflow: hidden;
    /*width: 80vw;*/
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100%;
}

a {
    color: #a78fdd;
}

a:hover {
    color:#9878dd;
}

::selection {
    background: #ded1ff;
}

@media (min-width: 992px) {
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: #a78fdd;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #a78fdd;
}

table td {
    font-weight: normal;
}